body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Para evitar rolagem se a imagem for maior */
}

.App {
  background: url(https://cmsassets.rgpub.io/sanity/images/dsfx7636/news_live/97511f398b0a2c320fd80766e8b006c5bfcac894-1920x1080.jpg) no-repeat center center;
  background-size: cover;
  position: fixed; /* Mantém a imagem no fundo */
  width: 100%;
  height: 100%;
}